.main-site-container {
  height: 100vh;
  display: flex;
}
.chessboard-container {
  width: 50vw;
  min-width: max-content;
}
.right-panel-container{
    width: 80vw;
}
.hide{
  visibility: hidden;
}
@media only screen and (max-width: 780px) {
  .chessboard-container {
    width: 70vw;
  }
}

@media only screen and (max-width: 610px) {
  .chessboard-container {
    width: 100vw;
  }
}
