.main-site-container {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
}
.chessboard-container {  
  width: 50vw;
  min-width: max-content;
}
.right-panel-container {
  width: 25vw;
  
}
.hide {
  visibility: hidden;
}
@media only screen and (max-width: 1080px) {
  .main-site-container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .chessboard-container {
    height: 75vh;
  }

  .right-panel-container{
    width: 100vw;
    height: 30vh;
  }
  .time, .score-h1{
    font-size: 2.3em !important;
  }
}

@media only screen and (max-width: 820px) {
  .chessboard-container {
    width: 90%;
  }
}
